@media screen and (max-width: 700px) {

img.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
   width: 35%;
   border-radius: 45%;
}

nav{
    display: grid;
    grid-auto-flow: column;
     grid-gap: auto;
     background-color: black;
     padding: 10px;
     font-size: 15px;
     margin: 0px -10px 0px -10px;
}
nav a{
    text-align: center;
    color: red;

}
/* unvisited link */
a:link {
  color: red;
  text-decoration: none;
}
/* visited link */
a:visited {
  color: white;
  text-decoration: none;
}
/* mouse over link */
a:hover {
  text-decoration: underline;
}
img.child {
  margin: 5% 1% 5% 55%;
  width: 40%;
  height: 50%;

}
h1 {
  font-family: 'Anton', sans-serif;
}
h2{
  font-family: 'Fjalla One', sans-serif;
}
p {
  font-family: 'Varela Round', sans-serif;
}

.credits{
  font-style: italic;
  color: white;
  margin-top: -10px;
  margin-left: 115px;
}
div.review {
  color: white;
  font-size: 75%;
  width: 97%;
  background-color: black;
  padding-top: 2%;
  padding-bottom: 19%;
  padding-left: 3%;
  margin-right: 30px;
  margin-top: -35%;
}

.info{
  color: red;
  text-align: left;
  font-size: 10.5px;
  padding-left: 3%;
  padding-right: 50%;
  padding-bottom: -1%;
  margin-top: -20%;
}

}
div.shout{
  display: inline-block;
  color: white;
  background-color: black;

  font-size: 75%;
  padding: 5%;
  text-align: center;
  margin-top: 6%;
  margin-left: 60%;
  padding-left: -60%;
}



}
@media screen and (max-width: 1200px){

}
