body{
	margin:0;
	padding:0;
	font-size: 18px;
}

img.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
   width: 160px;
   border-radius: 45%;
}
img{
	width:100%;
}
nav{
    display: grid;
    grid-auto-flow: column;
     grid-gap: auto;
     background-color: firebrick;
     padding: 10px 0;
     font-size: 1.3em;
}
nav div{
	display: grid;
	grid-auto-flow: column;
	grid-gap: auto;
}
nav a{
    font-family: 'Fjalla One', sans-serif;
    text-align: center;
	color:white;
}
/* unvisited link */
a:link {
  color: white;
  text-decoration: none;
}
/* visited link */
a:visited {
  color: white;
  text-decoration: none;
}
/* mouse over link */
a:hover {
  text-decoration: underline;
}
main{
	background: black;
}
h1 {
  font-family: 'Anton', sans-serif;
	color: firebrick;
}
h2{
  font-family: 'Fjalla One', sans-serif;
	color: firebrick;
}
h3{
  font-family: 'Varela Round', sans-serif;
	color: firebrick;
}
p {
  font-family: 'Varela Round', sans-serif;
	color: white;
}

.credits{
  font-style: italic;
  color: white;

}
.creditone{
	font-style: italic;
  color: white;
	font-family: 'Varela Round', sans-serif;

}
.review {
  color: white;
  width: 95%;
	margin: auto;
  background-color: black;
	padding:20px 0;
}


* {
  box-sizing: border-box;
}

/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: firebrick;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: white;
	color: firebrick;
}

/* Style the container/contact section */
.container {
  border-radius: 5px;
  padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
	font-family: 'Varela Round', sans-serif;
	color: white;

}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}


.info{
  color: white;
}


.right, .left{
  display: block;
  color: white;
	margin:20px;

}
.leftone{
	display: block;
	color: white;
	margin:20px;
}
.randyjones{
  display: block;
}
.shortfilm{
	font-family: 'Varela Round', sans-serif;
}

.video{
  position: relative;
  padding-bottom: 56.25%; /*16:9*/
  height: 0;
}
.video iframe{
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  height: 100%;
}
.randy{
	font-family: 'Varela Round', sans-serif;
	color: white;
	font-size: 1.2em;
}
footer{
  background-color: firebrick;
  text-align: center;
  padding-top: 1px;

}
.foot{
	font-family: 'Varela Round', sans-serif;
	color: white;
}
div.facebook{
  display:block;

}
div.youtube{
  display: block;

}

@media screen and (min-width : 800px){

  img.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
     width: 280px;
     border-radius: 45%;
  }
	nav div{
		max-width: 1200px;
		margin: auto;
	}
	.left{
		width: 48%;
		margin: 1%;
		float:left;

	}

	/* CONTACT PAGE: Style the container/contact section */
	.container {
	  border-radius: 5px;
	  padding: 10px;
	}

	/* Create two columns that float next to eachother */
	.column {
	  float: left;
	  width: 50%;
	  margin-top: 6px;
	  padding: 20px;
		font-family: 'Varela Round', sans-serif;
		color: white;

	}

	/* Clear floats after the columns */
	.row:after {
	  content: "";
	  display: table;
	  clear: both;
	}

	  .column, input[type=submit] {
	    width: 50%;
	    margin-top: 0;
	  }
/* End of Contact Page*/

.right{
	width: 48%;
	float: left;
	margin: 1%;
}
.info{
	font-size: 1.1em;
}
.shortfilm{
	font-size: 1.2em;
	font-family: 'Varela Round', sans-serif;
}
.review{
		max-width:1200px;
		margin: auto;
		font-size: 1.1em;
	}
	.randy{
		font-family: 'Varela Round', sans-serif;
		color: white;
		font-size: 1.2em;
	}
.review:after {
	content:"";
	clear:both;
	display: table;
}
footer{
  background-color: firebrick;
  text-align: center;
  padding-top: 1px;
}
}
